widsdatathon2025/TRAIN_OLD/*.xlsx
widsdatathon2025/TRAIN_NEW/*.xlsx
widsdatathon2025/TEST/*.xlsx
widsdatathon2025/TRAIN_OLD/*.csv
widsdatathon2025/TRAIN_NEW/*.csv
widsdatathon2025/TEST/*.csv
widsdatathon2025/TRAIN_OLD/*.xlsx
widsdatathon2025/TRAIN_NEW/*.xlsx
widsdatathon2025/*.xlsx
widsdatathon2025/*.csv
TRAIN_OLD/*.xlsx
TEST/*.xlsx
TRAIN_NEW/*.xlsx